.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 5%;
  padding-right: 5%;
}

.App-header h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header .post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.Nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid blueviolet;
}

.Nav > a {
  color: white;
  margin: 10px;
}

.post {
  padding: 10px;
}
.multiPost {
  padding: 10px;
  border-bottom: 1px white solid;
}

.text {
  font-size: smaller;
}

#submit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

textarea {
  width: 300px;
  height: 150px;
}

#subButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  border-radius: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
